# Prune the build and metadata directories
out/
build/
.vs/

# Visual Studio solution or project files anywhere in the tree
*.slnx
*.vcxproj
*.filters
*.user

# Keep root clean
.gitattributes
CMakeSettings.json
CMakeUserPresets.json